<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CSS and JS -->
    <link rel=" stylesheet " href="/bulma/bulma.min.css " />

    <style>
        body::-webkit-scrollbar {
            width: 0 !important;
        }
    </style>
</head>

<body>
    <%- body %>
</body>

</html>